.alphanumeric {
	display: flex;
	position: relative;
	overflow: hidden;
}

.alphanumeric p {
	text-align: center;
	transform: translateY(100%);
	animation: slideUp 0.5s ease-out forwards;
	padding-right: 0.02em;
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
