@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.container {
	background-color: hsl(0, 0%, 94%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	padding: 1rem;
}

.card {
	background-color: white;
	border-radius: 1.5rem 1.5rem 12rem 1.5rem;
	padding: 3rem;
	width: 100%;
	max-width: 850px;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex: 1;
	position: relative;

	label {
		font-size: 0.8rem;
		font-weight: 700;
		color: hsl(0, 1%, 44%);
		letter-spacing: 0.2em;
	}

	input {
		padding: 0.75rem 1.5rem;
		border: 1px solid hsl(0, 0%, 86%);
		border-radius: 0.5rem;
		width: 100%;
		font-size: 2rem;
		font-weight: 700;
		font-family: inherit;
	}

	.error + input {
		border: 1px solid hsl(0, 100%, 67%);
	}

	.error {
		&:is(p) {
			font-weight: 400;
			font-style: italic;
			position: absolute;
			transform: translateY(100%);
			bottom: -0.5rem;
			left: 0;
		}
		font-size: 0.8rem;
		color: hsl(0, 100%, 67%);
	}
}

.ageForm {
	display: flex;
	gap: 1.5rem;
	max-width: 550px;
}

.divider {
	display: flex;
	align-items: center;
	position: relative;

	.line {
		flex: 1;
		height: 1px;
		background-color: hsl(0, 0%, 86%);

		@media (max-width: 800px) {
			margin-block: 4rem;
		}
	}

	.arrow {
		width: 100px;
		height: 100px;
		flex-shrink: 0;
		border-radius: 50%;
		background-color: hsl(259, 100%, 65%);
		padding: 2rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.age {
	.age-grp {
		display: flex;
		font-size: 6rem;
		align-items: center;
		font-style: italic;
		line-height: 1.2;
		font-weight: 800;
		color: hsl(259, 100%, 65%);
		gap: 0.2em;
		.title {
			color: hsl(0, 0%, 8%);
		}
	}
}

@media (max-width: 800px) {
	.card {
		padding: 1.5rem;
		border-radius: 1rem 1rem 10rem 1rem;
	}
	.input input {
		font-size: 1.5rem;
		padding: 0.5rem 1rem;
	}
	.divider .arrow {
		position: absolute;
		width: 60px;
		height: 60px;
		padding: 1rem;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}
	.age .age-grp {
		font-size: 5rem;
	}
}
@media (max-width: 500px) {
	.ageForm {
		gap: 1rem;
	}
	.input input {
		font-size: 1rem;
	}
	.age .age-grp {
		font-size: 3rem;
	}
}
